

<!-- 
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>  -->


<style>
  body
{
    margin: 0;
    padding: 0;
    background-color:#6abadeba;
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #23463f;
        border-radius: 15px ;

}
h1{
    text-align: center;
    color: #277582;
    padding: 20px;
}

#email, #Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
.center {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    color: #277582;
    padding: 20px;
  }

.btn_link {
    text-decoration: none;
    border: 1px solid #000;
    background-color: green;
  }
.btn_link:link, .btn_link:visited {
    color: #6abadeba;
}
</style>

<div class="login">
  <h1>Log in</h1>
   <div class="center">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name), id: "login", ) do |f| %>
      <%= f.label :email, "Your email" %>
      <br />
      <br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email" %>
      <br>
      </br>
      <%= f.label :password, "Pasword" %> 
      <br />
      <br />
      <%= f.password_field :password, autocomplete: "current-password", id: "Pass" %>
      <br>
      <br />
     </br>
      <%= f.submit "Log in Here", id: "log" %>
      <br>
      </br>
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me, id: "check" %>
        <%= f.label :remember_me %>
      <% end %>
     <% end %>
    </div>
      <%= link_to "Sign Up",new_user_registration_path, class: 'btn_link' %>
      <br />
      <br />
      <%= link_to "Forgot your password?",new_password_path(resource_name), class: 'btn_link' %>
      <br />
   
</div>

<%= render "devise/shared/links" %>

